<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/style.css">
  <title>Add Movie</title>
</head>

<body>
  <div class="container w-25 border rounded border-dark p-3 mt-5  bg-light">
    <div class="title pb-5">
      <h2 class="font-weight-bold">Add Movie</h2>
    </div>
    <form action="/Movie/add" method="POST" class="pt-1">
      <div class="form-group">
        <input required class="form-control" placeholder="Title" name="title">
      </div>
      <div class="form-group">
        <input required class="form-control" placeholder="Plot" name="plot">
      </div>
      <div class="form-group">
        <input class="form-control" name="fullplot" placeholder="Full Plot">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" name="year" placeholder="year">
      </div>
      <div class="form-group">
        <input class="form-control" name="rating" placeholder="Rating">
      </div>
      <div class="form-group">
        <input class="form-control" name="cast" placeholder="Cast">
      </div>
      <div class="form-group">
        <input class="form-control" name="genres" placeholder="Genres">
      </div>
      <div class="form-group">
        <input class="form-control" name="poster" placeholder="Add poster Url">
      </div>
      <div class="form-group">
        <input class="form-control" name="languages" placeholder="Languages" value="English">
      </div>
      <div class="form-group">
        <input class="form-control" name="directors" placeholder="Directors">
      </div>
      <div class="form-group">
        <input class="form-control" name="countries" placeholder="Countries">
      </div>
      <div class="form-group">
        <input class="form-control" name="type" placeholder="Movie Type">
      </div>
      <button type="submit" class="btn btn-success rounded-pill">Submit</button>
    </form>
  </div>
</body>

</html>