.main_card {
    color: #fff;
    border-radius: 20px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgba(5, 54, 67, 0.658);
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.card_left {
    width: 100%;
}

.card_datails {
    width: 100%;
    padding: 20px;
}

.card_datails h1 {
    font-size: 30px;
}


.card_cat {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.year,
.genre,
.time {
    color: fff;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
}

.disc {
    font-weight: 100;
    line-height: 27px;
}

a {
    color: rgb(139, 0, 0);
    display: block;
    text-decoration: none;
}

button {
    color: #fff;
    border: none;
    padding: 20px;
    outline: none;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 10px;
    background: #92FE9D;
    border-radius: 12px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
}

button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


.fa-play-circle {
    color: #255;
    font-size: 160px;
    margin-top: 110px;
    -webkit-animation: bounce 1.0s -0.4s infinite;
    animation: bounce 1.0s -0.4s infinite;
}

.fa-play-circle:hover {
    color: aqua;
    animation: bounce 0.4s infinite;
}